<body>
  <body style="background-color:lightblue;">
  <style>
    h1 {
      font-size: 5em; /* 40px/16=2.5em */
  }
    p {
    font-size: 3em; /* 40px/16=2.5em */
}
</style>

<h1>Hi!</h1>
<p>I made a paragraph.</p>

</body>
